# Node.js
node_modules/
npm-debug.log
.env

# MacOS
.DS_Store

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# AWS CLI files and dist
.aws/
aws/
awscliv2.zip
dist/

# Supabase .env or local config (if any)
.supabase/

# VSCode workspace settings
.vscode/

# Codespaces config
.devcontainer/

# OS backup files
*.swp
*.swo